*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 65.2%;
    font-family: 'Poppins', sans-serif;
}
:root{
    --Red: hsl(0, 78%, 62%);
    --Orange: hsl(34, 97%, 64%);
    --Cyan: hsl(180, 62%, 55%);
    --Blue: hsl(212, 86%, 64%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}
.main__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--Very-Light-Gray);
    padding: 4rem 1rem;
}
.presentation, .cards{
    width: 95%;
    align-self: center;
}
.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--Very-Dark-Blue);
}
.presentation__title{
    font-size: 2.2rem;
    font-weight: 300;
}
.presentation__subtitle{
    font-size: 2.2rem;
}
.presentation__text{
    width: 96%;
    font-size: 1.4rem;
    line-height: 1.8;
    text-align: center;
    padding-top: 1.5rem;
}
.cards{
    margin-top: 5rem;
}
.card{
    height: 20rem;
    position:relative;
    border-top: 3px solid var(--Cyan);
    border-radius: .5rem;
    margin-bottom: 2rem;
    color: var(--Very-Dark-Blue);
    box-shadow: 2px 7px 15px 1px #95A3B3;
}
.card__content{
    padding: 2rem 1rem;
    letter-spacing: .05rem;
}
.card__title{
    font-size: 2rem;
}
.card__text{
    font-size: 1.2rem;
}
.card__icon{
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 4rem;
    bottom: 4rem;
}

.card:nth-child(2){
    border-top: 3px solid var(--Red);
}
.card:nth-child(3){
    border-top: 3px solid var(--Orange);
}
.card:nth-child(4){
    border-top: 3px solid var(--Blue);
}

@media(min-width:768px){
    .presentation__text{
        width: 70%;
    }
    .cards{
        position: relative;
        height: 65rem;
        width: 675px;
    }
    .card{
        width: 30rem;
        position: absolute;
    }
    .card:first-child{
        bottom: 33%;
        left: 0;
    }
    .card:nth-child(2){
        left: calc(50% - 150px);
    }
    .card:nth-child(3){
        bottom: 0;
        left: calc(50% - 150px);
    }
    .card:nth-child(4){
        bottom: 33%;
        right: 0;
    }
}
@media(min-width:1440px){
    .cards{
        position: relative;
        height: 45rem;
        width: 90%;
    }
    .card:first-child{
        top: calc(50% - 104px);
        left: 12rem;
    }
    
    .card:nth-child(4){
        top: calc(50% - 104px);
        bottom: 25%;
        right: 12rem;
    }
}
